<h1>Réintialisation de votre mot de passe</h1>
<p>Votre token de réintialisation : <b>{{ token }}</b></p>
<p>Ce token est valable pendant <b>{{ validity }} heure(s)</b>.</p>
<p>Si vous n'êtes pas à l'origine de cette demande, veuillez contacter un administrateur ou ignorer ce message.</p>